<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coming Soon – Bitpost</title>
	
	<!-- Stylesheets -->
	<link href="{{ '/css/normalize.css' | relative_url }}" rel="stylesheet">
	<link href="{{ '/css/coming-soon.css' | relative_url }}" rel="stylesheet">
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>

<body>
	<nav class="nav">
		<div class="wrap">
			<div class="nav__brand">
				{% include assets/icons/logo.svg %}
			</div>
		</div>
	</nav>
	
	<main class="main">
		<div class="wrap">
			<div class="comingsoon-message">
				<h1>Coming Soon</h1>
			</div>
		</div>
	</main>
	
	<footer class="footer">
		<div class="wrap">
			<span class="footer__copyright-notice">Copyright 2017-2018 bitpost.co All Rights Reserverd</span>
		</div>
	</footer>
</body>
</html>
